<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311273059331-avqj6o8a61cdip30ab222kld3tettppb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311273059331-avqj6o8a61cdip30ab222kld3tettppb</string>
	<key>API_KEY</key>
	<string>AIzaSyC8GjJfLe4OiEA4IDjcOOON-Y04q1Ae570</string>
	<key>GCM_SENDER_ID</key>
	<string>311273059331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homepersonal.testapp.TestApp</string>
	<key>PROJECT_ID</key>
	<string>unsplashapp-17b70</string>
	<key>STORAGE_BUCKET</key>
	<string>unsplashapp-17b70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:311273059331:ios:153db6f84ada30738a0a36</string>
</dict>
</plist>
